@model WebApplication3.Models.ContactInfo

<h4>Contact Details</h4>
<hr />

<dl class="row">
    <dt class="col-sm-2">First Name</dt>
    <dd class="col-sm-10">@Model.FirstName</dd>

    <dt class="col-sm-2">Last Name</dt>
    <dd class="col-sm-10">@Model.LastName</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.EmailId</dd>

    <dt class="col-sm-2">Mobile</dt>
    <dd class="col-sm-10">@Model.MobileNo</dd>

    <dt class="col-sm-2">Designation</dt>
    <dd class="col-sm-10">@Model.Designation</dd>

    <dt class="col-sm-2">Company</dt>
    <dd class="col-sm-10">@Model.CompanyName</dd>

    <dt class="col-sm-2">Department</dt>
    <dd class="col-sm-10">@Model.DepartmentName</dd>
</dl>